# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

# 4k Sonarr
sonarr:
  web-2160p-v4:
    base_url: !secret sonarr4k_url
    api_key: !secret sonarr4k_api
    media_naming:
      episodes:
        standard: default
    media_management:
      propers_and_repacks: do_not_prefer
    delete_old_custom_formats: true

    # Quality Definition
    quality_definition:
      type: series

    # Quality Profiles
    # https://github.com/TRaSH-Guides/Guides/tree/master/docs/json/sonarr/quality-profiles
    quality_profiles:
      - trash_id: d1498e7d189fbe6c7110ceaabb7473e6  # WEB-2160p
        reset_unmatched_scores:
          enabled: true
      # Custom quality profile for AMZN to prioritize DV-only releases
      # AMZN DV/HDR combo releases are bit starved, so we focus on the DV-only releases
      - name: WEB-2160p (AMZN DV)
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB 2160p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
    
    # Custom Format Groups
    # https://github.com/TRaSH-Guides/Guides/tree/master/docs/json/sonarr/cf-groups
    # Using assign_scores_to to force sync to both guide-backed profile and custom (AMZN DV) profile
    custom_format_groups:
      add:
        - trash_id: d776a1ea912a117d66d83b880ff2055d  # [HDR Formats] DV (w/o HDR fallback)
        - trash_id: e0b2774083df4265f25c9e5bc6c80940  # [HDR Formats] DV Boost
        - trash_id: 7d366c213e5c23a052b157356fac1921  # [HDR Formats] HDR10+ Boost
        - trash_id: f4a0410a1df109a66d6e47dcadcce014  # [Optional] Miscellaneous
          select:
            - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
            - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
            - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
            - 06d66ab109d4d2eddb2794d21526d140 # Retags
            - 1b3994c551cbb92a2c781af061f4ab44 # Scene
          assign_scores_to:
            - name: WEB-2160p (AMZN DV)
            - trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p
        - trash_id: e1053c0ef622df3749fa43c22865663a  # [Optional] SDR
          select: 
            - 83304f261cf516bb208c18c54c0adf97 # SDR (no WEBDL)
          assign_scores_to:
            - name: WEB-2160p (AMZN DV)
            - trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p
        - trash_id: d920fd959d220306888f40b6f38e1578  # [Optional] Season Packs
          assign_scores_to:
            - name: WEB-2160p (AMZN DV)
            - trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p

        # This CF group is default for WEB-2160p. Including it here to sync it with WEB-2160p (AMZN DV) profile
        - trash_id: abe720fab2d27682adc2a735136cec02 # [Streaming Services] General
          assign_scores_to:
            - name: WEB-2160p (AMZN DV)
            - trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p

    # Custom Formats:
    # https://github.com/TRaSH-Guides/Guides/tree/master/docs/json/sonarr/cf
    # Manual CF assignments for (AMZN DV) profile
    custom_formats:
      - trash_ids:
        - 7c3a61a9c6cb04f52f1544be6d44a026 # DV Boost
        assign_scores_to:
          - name: WEB-2160p (AMZN DV)
      - trash_ids:
        - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
        assign_scores_to:
          - name: WEB-2160p (AMZN DV)
            score: 500 # Tweaking score to PREFER DV ONLY files (NOT combo DV/HDR)
      - trash_ids:
          # Unwanted
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
          - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title)
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
          - fbcb31d8dabd2a319072b84fc0b7249c # Extras
          - 15a05bc7c1a36e2b57fd628f8977e2fc # AV1

          # Misc
          - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper
          - eb3d5cc0a2be0db205fb823640db6a3c # Repack v2
          - 44e7c4de10ae50265753082e5dc76047 # Repack v3

          # Streaming Services
          - 43b3cf48cb385cd3eac608ee6bca7f09 # UHD Streaming Boost
          - 218e93e5702f44a68ad9e3c6ba87d2f0 # HD Streaming Boost

          # HQ Source Groups
          - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
          - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
          - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03
          - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene
        assign_scores_to:
          - name: WEB-2160p (AMZN DV)
